
*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box ;

    }
    html{
        
        scroll-behavior:smooth;
    }
    
    body {
        
        font-family: sans-serif;
  background-size: cover;
  background-position: center;
  height: 109vh;
  scroll-behavior:smooth;
 
        
    }
    
    nav{
        background-color:purple;
        width:100%;
        
    position:absolute;
    
        
    }
    nav .logo{
        
        color:gold;
        font-size:30px;
        font-style:italic ;
        font-weight:bolder;
        
    }
    
    marquee{
  color:greenyellow;
    font-size:large;
    background-color: red;
    width:90%;
  }
    
    h{
  font-size:35px;
  color: blue;
  font-style: italic;
  font-weight:bold ;
  background-color:white;
  
  }
  
 ul a:hover{
      color:yellow;
  }

  
nav ul li:hover{
      background-color:blue;
      color:white;
      font-size:x-large;
      font-style:italic ;
      font-weight:bolder;
  }
  
  p{
    font-style:italic;
    color:purple ;
    font-size:20px;
    font-weight: bold;
  }
  K{
    font-style:italic;
    font-weight: bold;
    color: gold;
    background-color:black;
    font-size:16px;
  
  }
  h1{
  padding: 25px 0 5px 0px;
  color: black;
  font-size:50px;
  font:bold;
  font-style: italic;
  font-family:arial;
  margin-right: 1px;
  
  }
  
 
  ol{
    
    color:Red;
    font-size: larger;

    
  }


sectionfive{
    
    text-align:center ;
}



section1{
    text-align:center ;
    
}



Form{
  font-size:42px;
  text-align:centre;
  background-color:yellow;
  }
  h3{
  background-color:black;
  }
  BR{
  font-size:33px;
  }
  input{
  font-size:32px;
  box-size:32px;
  
}

table{
    font-size:xx-larger;
}
table, th, td {
    border:1px solid black;
    
} 
th{
    background-color:black;
    font-style:italic ;
    color:red;
    font-weight:bolder;
}


  fa {
    padding: 20px;
    font-size: 60px;
    width: 55px;
    text-align: center;
    text-decoration:transparent;
    margin: 5px 2px;
  }
  .fa-facebook{
    background-color: #3b5998;
    color: white;
  }
  .fa-youtube{
    background: white;
    color: red;
  }
  .fa-twitter{
    background: #55acee;
    color: white;
  }
  .fa-instagram{
    background:black;
    color: red;
  }
  .fa-whatsapp{
    background:green;
  
  }
  .fa-google{
    background:black;
    color: white;
  }
  


.container nav.desk
.container nav.mob{
    width:100%;
    height:50px;
    
    }

nav.desk ul{
    margin-left:5px;
    width:100%;
    height:50px;
    list-style:none;
    

    }

nav.desk ul li{
    

    font-size:15px;
    display:inline-block;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    transition:all 0.5s ease;
  
    
    }



    

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:larger;

    
      }

nav.mob,
.toggle{
    display:none;
    position:static;
    }


nav.desk{    
    display:none;
    }

nav.mob,
.toggle{
    display:block;     
    }
    
.toggle{

    float:right;
    font-size:40px;
    margin-right:15px;
    margin-top:-5px;
    

    }
    
.toggle.fa-bars,
.toggle.fa-times{

    icon-size:35px;

    cursor:pointer;
    
    
    
    }
    
.mob ul{
    margin-top:15px;
    background:red;
    display:none;
    }
    
.mob li{
    text-transform:uppercase;
    text-align:center;
    padding:20px;
    cursor:pointer;
    
    }
    
.mob ul.active{
    display:block;
}
