*{
  margin:0;
padding:0;
text-decoration:none;
box-sizing: border-box;
}
html{
scroll-behavior:smooth;

}
body{
font-family: sans-serif;
background-color:mediumvioletred;
background-size: cover;
background-position: center;
height: 109vh;
scroll-behavior:smooth;


}




nav{
position:static;
height: 130px;
width: 100%;
background:blue;
box-shadow: 0px 4px 10px rgba(0,0,0,.3) ;
text-shadow: 0cap;
contain-intrinsic-block-size: 3px;
transition: all.3s;

}
nav ul li a:hover{
color:red;
}
sectionfive{
  font-variant: normal ;
}
marquee{
color:greenyellow;
  font-size:large;
  background-color: red;
}

nav .LOGO{
font-size: 33px;
font-weight: bold;
font-style:italic;
line-height:0 px;
color: gold;
margin: bottom 50px;
margin-top:20px;
font-family: arial;
border-image: round;
}
nav ul{
float: right;
margin-right: 50px;
position:sticky;
margin:0;
padding:0;
}
nav ul li{
display:inline-block;
list-style: none;
margin: 0 15px ;
line-height: 60px;

}
ul{
display: flex;
list-style: none;
margin:0;

}
nav ul li a{
display: block;
color:whitesmoke;
font-size: 23px;
line-height: 22px;
margin-left:10%;
font-family:arial;
font-style:italic;
border-top:1px solid rgba(255, 255, 255, 0.1);
border-color: 10px solid gold;
border-left:  5px solid transparent;
transition: 0.4s ease-in-out;
padding:0;

}
h{
font-size:35px;
color: blue;
font-style: italic;
font-weight:bold ;
background-color:white;
}
a.active{
background-color:blue;
padding: 5px;
display: inline-block;
}

li a.contact{
border-bottom:1px solid rgba(0,0,0,.5) ;
}
nav li a.contact{
border-bottom: 1px solid rgba(255,255,255,.1);
}
#section {
  display: flex;
  padding:10%;
margin-down:5px;
  align-content: center;
height:100%;
width:100%;
  
}

z{
  font-style:italic;
  color:whitesmoke;
  font-size:20px;
  font-weight: bold;
}
K{
  font-style:italic;
  font-weight: bold;
  color: gold;
  background-color:black;
  font-size:16px;
}
sectionone{
  display: flex;
 background-image:img src=https://i.ibb.co/yfv3NCw/291889371-413306454154723-2830275642337202691-n.jpg;
width:100%;
align-content:center;   
height:100%;
}
p{
font-weight: bold;
font-size:30px;
color:gold;
}
h1{
padding: 25px 0 5px 0px;
color: black;
font-size:50px;
font:bold;
font-style: italic;
font-family:arial;
margin-right: 1px;

}
l{
font-size: 30px;
color:white;
font-weight: bold;
padding-left:20px;
text-align:centre;

}
ol{
  background-color: black;
  color: white;
}
li{
font-size: 25px;
color: white;
font-weight: bold;
text-align:centre;
background-color: black;

  }
Form{
font-size:42px;
text-align:centre;
background-color:yellow;
}
h3{
background-color:black;
}
BR{
font-size:33px;
}
input{
font-size:32px;
box-size:32px;

}
radio button{
font-size:32px;
}
h2{
color:rgb(238, 230, 11);


}

search button{
font-size:40px;
}

a{
color:orange ;
font-size:30px;
font-family:arrial;
}
img{
align-items:center;
position:center;

}
table{
  font-size: larger;
}
href{
size:30px;

}

h4{
  font-size: small;
  color: gold;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  background-color:black;
  font-style: italic;
  COLOR:RED;

}
li  a:hover{
  background-color:blue;
}
marquee{
  font-size:18px;
  width: 93%;
}
n{
  color:black;
}
section1{
  background-color: black;
  color: white;
  text-align: center;
 
}
.fa {
  padding: 20px;
  font-size: 35px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook{
  background: #3b5998;
  color: whi;
}
.fa-youtube{
  background: #bb0000;
}
.fa-twitter{
  background: #55acee;
}
.fa-instagram{
  background:black;
}
.fa-whatsapp{
  background:green;
}
.fa-google{
  background:black;
}
